<div class="container-fluid">
    <div class="row">        
        <div class="col-md-3">
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" [uploader]="fileUploader" (fileOver)="fileOverBase($event)" class="well my-drop-zone">
                Drop image file here
            </div>
            <div>
                <span class="text-danger">{{ message }}</span>
                
                <div *ngFor="let parsedItem of text.ParsedItems">
                    <span class="text-info">{{ parsedItem.Type }} : {{ parsedItem.Name }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->